.train-wrapper {
    min-height: 60vh;
    padding: 40px;
    background-color: #f5f7fa;
    margin-top: 2rem;
}

.train-card {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.search-train-btn {
    width: 220px;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color: coral;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.search-train-btn:hover {
    background-color: rgb(194, 84, 44);
}
