.profile-wrapper {
  padding: 100px 6%;
  background: #f5f7fa;
  min-height: 100vh;
}

.profile-breadcrumb {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.profile-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.profile-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 20px;
}

/* Tabs */
.profile-tabs {
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.profile-tabs span {
  cursor: pointer;
  font-size: 15px;
  color: #555;
  padding-bottom: 6px;
}

.profile-tabs .active {
  color: coral;
  font-weight: 600;
  border-bottom: 2px solid coral;
}

/* Content */
.profile-content {
  display: flex;
  gap: 25px;
}

/* LEFT */
.profile-left {
  width: 30%;
  background: #f9fbff;
  border-radius: 14px;
  padding: 25px;
  text-align: center;
}

.profile-avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: auto;
  background: url("https://cdn-icons-png.flaticon.com/512/3135/3135715.png")
    center/cover;
  margin-bottom: 15px;
}

.profile-left h3 {
  margin-bottom: 8px;
}

.profile-left p {
  font-size: 14px;
  color: #555;
}

.upi-box {
  margin: 15px 0;
  padding: 10px;
  border: 1px dashed coral;
  border-radius: 8px;
  font-weight: 500;
  color: coral;
}

.edit-btn {
  background: coral;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #ff6b3d;
}

/* RIGHT */
.profile-right {
  width: 70%;
  padding: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-row label {
  font-size: 13px;
  color: #777;
}

.info-row p {
  font-size: 15px;
  font-weight: 500;
}

.link {
  color: coral;
}

.status.active {
  background: #e6fff2;
  color: #16a34a;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
}

.add-btn {
  border: 1px solid coral;
  background: transparent;
  color: coral;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.add-btn:hover {
  background: coral;
  color: white;
}
