.flight-wrapper {
    min-height: 60vh;
    padding: 40px;
    background-color: #f5f7fa;
    margin: 0px;
    margin-top: 2rem;
}

.flight-card {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.trip-type {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.from-to {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.from-to input {
    width: 40%;
    height: 2rem;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid grey;
}

.swap-btn {
    background: none;
    border: 1px solid lightgray;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.date-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.date-row input,
.date-row select {
    height: 2rem;
    border-radius: 6px;
    border: 1px solid grey;
    padding-left: 8px;
}

.special-fares {
    margin-bottom: 15px;
}

.special-fares span {
    margin-right: 10px;
}

.special-fares button {
    margin-right: 8px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
    cursor: pointer;
}

.special-fares button:hover {
    background-color: coral;
    color: white;
}

.non-stop {
    margin-bottom: 20px;
}

.search-flight-btn {
    width: 220px;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color:coral;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.search-flight-btn:hover {
    background-color: rgb(187, 88, 52);
}



/* Flight offers */

.flight-offers-wrapper {
    padding: 40px;
    padding-top: 0px;
}

.my-bookings-card {
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 0px;
    background-color: white;
}

.flight-offers-container {
    display: flex;
    gap: 2px;
    justify-content: space-evenly;
    overflow-x: auto;
    margin-bottom: 30px;
   
}

.flight-offer-card {
    min-width: 400px;
    height: 200px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}

.flight-offer-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.6), transparent);
    color: white;
    padding: 18px;
}

.overlay .title {
    font-size: 1.1rem;
    font-weight: bold;
}

.overlay button {
    margin-top: 10px;
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.special-fare-container {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
}

.fare-card {
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid lightgray;
    cursor: pointer;
}

.fare-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.fare-card p {
    text-align: center;
    padding: 10px;
    font-weight: 500;
}
