.Register-Container {
    background-color: white;
    height: 70vh;
    width: 28vw;
    border: 1px solid lightgray;
    margin: 8% 35%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Register-input {
    height: 1.8rem;
    width: 65%;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 6px;
    padding-left: 8px;
}

.Register-button {
    height: 2.2rem;
    width: 60%;
    border-radius: 10px;
    color: white;
    background-color: coral;
    border: none;
    margin-top: 12px;
    cursor: pointer;
}

.Register-button:hover {
    background-color: rgb(230, 101, 54);
}

.login-link {
    margin-top: 10px;
    font-size: 0.9rem;
}

.login-link span {
    color: coral;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 500;
}
