.Ad-conatiner-btm{
    height: 80vh;
    width:87%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0,0.3);
    margin: 2% 5%;
    display: flex;

}
.Gradious-icon{
    display: flex;
}
.Gradious-icon img{
    height: 2rem;
    width:2rem;
}
.Gradious-icon h3{

    margin: 2px;
    padding-top: 8px;
}
.for-text{
    width: 40%;
    padding: 5% 2%;
    line-height: 1.5rem;
}
.for-text h1{
    line-height:3rem ;
    font-size:40px ;
}
/* .for-text p{
    font-size: 20px;
} */
.for-img{
    width: 60%;
    overflow: hidden;
   
}
.for-img img{
    height: auto;
    width:100% ;
    /* overflow: hidden; */ 
}

.two-cards{
    width: 90%;
    height:auto;
    display: flex;
    margin: 2% 5%;
    /* border: 1px solid black; */
}
.two-cards .Insurance-Bg-color{
    margin-left: 1%;
    padding: 5%; 
    margin-right: 0% !important;
}
.two-cards .PromoCard-container{
    margin-right: 1%;
}
.PromoCard-container {
    
    width:100%; 
    height:auto;
    border-radius: 15px;
    background-color:rgb(224, 247, 250); 
    border: 1px solid black;
    padding: 2% 5%;
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.PromoCard-container img{
    height: 15rem;
    width: 20rem;
}
.card-text-section {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    gap: 10px;
}
.card-text-section{
    color: rgb(0, 0, 0,0.5);
}
.card-text-section img{
    margin-left: 80px;
    margin-top: 30px;
}

.promo-headline-small {
    font-size: 16px;
    font-weight: 600;
    color: #00838F; 
    margin: 0;
    text-transform: uppercase;
}

.promo-headline-large {
    font-size: 32px;
    font-weight: 800;
    color: #333;
    margin: 0;
    line-height: 1.2;
}

.promo-description {
    font-size: 15px;
    color: #555;
    margin-bottom: 5px; 
}


.promo-cta-button {
    margin-top: 15px;  
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: coral; 
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.2s;
}

.promo-cta-button:hover {
    background-color: #ff6f47;
}








.insurance-text-color {
    color: #00838F;
}

.card-illustration-bottom {
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}


.card-illustration-bottom img {
    height: 15rem; 
    width: 20rem; 
    display: block;
}


.BusinessAd-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    min-height: 400px;
    padding: 0px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 2% 5%;
}
.ad-text-content-large { 
    width: 50%; 
    padding: 5%;
   
}
.ad-text-content-large h1{
    margin-bottom: 260px;
}
.ad-text-content-large h3{
   margin-top: 0px !important;
}
.ad-img-content-large {
     width: 45%; 
    }
.ad-img-content-large img { 
    max-width: 100%; 
    height: auto; 
    display: block;
    margin-top: 40px; 
}
.Gradious-logo-text { 
    
    font-size: 18px; 
    font-weight: 600; 
    color: #555; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 40px;
    margin-top: 0px;

}
.Gradious-logo-text img { 
    height: 35px; 

}
.business-ad-btn { 
    padding: 12px 25px; 
    border: none; 
    border-radius: 8px; 
    background-color: coral; 
    color: white; 
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
    margin-top: 20px;
}




.Investment-Bg {
    background-color: rgb(255, 252, 252); 
}

.investment-text-color {
    color:#6A1B9A; 
    font-weight: 800;
}

.Investment-Bg .business-ad-btn {
    background-color: coral; 
    color: white; 
}
.Investment-Bg .business-ad-btn:hover {
    background-color:coral; 
}

.Investment-Bg h1 {
    font-size: 40px;
    font-weight: 400; 
    color: #333; 
    margin: 15px 0;
    line-height: 1.1;
}
