.nav-items {
  display: flex;
  gap: 20px;
}

.select-wrapper {
  display: inline-block;
}

.custom-select {
  padding: 10px 16px;
  font-size: 17px;
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
  color: #374151; /* dark gray */
  cursor: pointer;
  transition: 0.2s ease;

}

/* Hover */
.custom-select:hover {
  border-color: coral; /* blue */
  background-color: #f0f7ff;
}

/* Style for label */
.option-label {
  font-weight: bold;
  color: #111827;
}

/* Style for all dropdown options */
.select-option {
  padding: 10px;
  font-size: 16px;
  background-color: #f9fafb;
  color: #111827;
}
